<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.itats.skripsi.astarku"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
  <!--    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <application
        android:name="id.ac.itats.skripsi.astarku.RoutingEngine"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >
        <activity
            android:name="id.ac.itats.skripsi.astarku.BasicMapViewer"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="id.ac.itats.skripsi.astarku.view.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="id.ac.itats.skripsi.astarku.view.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.itats.skripsi.astarku.view.MainActivity" />
        </activity>
        <!--
        <activity android:name="id.ac.itats.skripsi.astarku.view.SearchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <activity android:name="id.ac.itats.skripsi.astarku.view.PlaceActivity" />
        -->
        <service android:name="id.ac.itats.skripsi.astarku.GraphService" />

        <provider
            android:name="id.ac.itats.skripsi.databuilder.PlaceContentProvider"
            android:authorities="id.ac.itats.skripsi.databuilder.PlaceContentProvider"
            android:exported="false" />

        <activity
            android:name="id.ac.itats.skripsi.astarku.view.RouteDetailsActivity"
            android:label="@string/title_activity_route_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.itats.skripsi.astarku.view.MainActivity" />
        </activity>
    </application>

</manifest>